img{
    width: 40%;
    height: 370px;
}

body{
    background-image: url('../img/background/home.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#complete{
    width: 450px;;
}